@import url("reset.css");

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Arial,"Microsoft JhengHei","Heiti TC","sans-serif";
}

img{
    display: block;
}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 100px;
}

.btn{
    width: 120px;
    padding: 9px 0;
    margin: 12px 0;
    border-radius:4px;
    background-color: #75b9db;
    border: 1px solid #75b9db;
    cursor:pointer;
    display: inline-block;
    text-align: center;  
    vertical-align: middle;
    color: #fff;
}

.btn:hover{
    background-color: #fff;
    color: #75b9db;
}

.btn_line{
    width: 90px;
    padding: 9px 0;
    margin: 12px 0;
    border-radius:5px;
    border: 1px solid #5a95cf;
    cursor:pointer;
    display: inline-block;
    text-align: center;  
    vertical-align: middle;
    color: #5a95cf;
}



/*--kv------------------------------------------------------------*/
article{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 60px;
}

article > div{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 10%;
    background-image: url('../img/agcy_kv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

article > div > .kv_title{
    background-color: rgb(71, 113, 180, 0.8);
    width: 500px;
    height: auto;
    margin-bottom: 8%;
    padding: 30px 40px;
    color: #fff;
}

article > div > .kv_title > h1{
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 5px;
    text-align: left;
    padding-bottom: 20px;
}

article > div > .kv_title > h2{
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 3px;
    text-align: left;
}

article > div > .kv_title > h2 > span{
    font-size: 30px;
}


/*--slick------------------------------------------------------------*/
section{
    padding: 40px 0 40px 0;
}


section:nth-child(odd){
    background-color: #fcfcfc;
}

section:nth-child(even){
    background-color: #e9eef6;
}

section > div{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 25px;
}


section > div > .agcy_logo{
    width: 250px;
}


section > div > .agcy_logo > img{
    width: 100%;
}


section > div > h2{
    color: #75b9db;
    max-width: 100px;
    padding: 8px 2px;
    border-bottom: 3px solid #75b9db;
}

section > .slick {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

section > .slick .slick-prev:before, .slick .slick-next:before { 
    color: #75b9db;
    font-size: 25px;
}

.slick-dots {
    position: revert;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.box{
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
}

.box_inner {
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 10%);
    border-radius: 30px;
    color: #fff;
}


.box_inner > img{
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.box_inner > div{
    padding: 15px 15px 0 20px;
    height: 180px;
}


.box_inner > div > h3{
    color: #333;
    font-size: 17px;
    line-height: 35px;
    letter-spacing: 0.8px;
}

.box_inner > div > p{
    color: #333;
    line-height: 28px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.box_inner > div > p > strong{
    color: #F8524C;
}

.box_inner > div > p > span{
    color: #00a19b;
}

/*--notice------------------------------------------------------------*/
aside{
    width: 100%;
    height: auto;
    overflow: hidden;
}


aside > div{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid #d9d9d9;
}


aside > div > p{
    font-size: 14px;
    color: #595959;
    font-weight: bold;
    line-height: 35px;
}

aside > div > ol{
    list-style-type: dism;
    font-size: 14px;
    color: #595959;
    line-height: 30px;
    margin-left: 1.5em;
    text-align: justify;
}

/*--notice------------------------------------------------------------*/
aside{
    width: 100%;
    height: auto;
    overflow: hidden;
}


aside > div{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid #d9d9d9;
}


aside > div > p{
    font-size: 14px;
    color: #595959;
    font-weight: bold;
    line-height: 35px;
}

aside > div > ol{
    list-style-type: dism;
    font-size: 14px;
    color: #595959;
    line-height: 30px;
    margin-left: 1.5em;
    text-align: justify;
}


/*--PC------------------------------------------------------------*/
@media screen and (max-width:1300px) {
    aside > div{
        width: 90%;
    }

    .slick{
        width: 90%;
        margin: 0 auto;
        padding: 10px 0px;
    }
}


/*--iPad pro------------------------------------------------------------*/
@media screen and (max-width:1024px) {
    

}

/*--Pad------------------------------------------------------------*/
@media screen and (max-width:920px) {
    article > div > .kv_title{
        width: 100%;
        margin-bottom: 0;
        padding: 30px 20px;
        color: #fff;
    }
}

/*--iPad-----------------------------------------------------------*/
@media screen and (max-width:768px) {
    article{
        padding-top: 110px;
    }

    article > div{
        padding-top: 80%;
    }

    article > div > .kv_title > h1{
        font-size: 40px;
        line-height: 60px;
        padding-bottom: 15px;
    }

    article > div > .kv_title > h2{
        font-size: 20px;
        line-height: 28px;
    }

    article > div > .kv_title > h2 > span{
        font-size: 25px;
    }

    .slick{
        width: 84%;
        margin: 0 auto;
        padding: 10px 0px;
    }

    aside > div{
        width: 90%;
    }

    aside > div > ol{
        margin-left: 1.4em;
        text-align: left;
        line-height: 28px;
    }
}

/*--Mobile-----------------------------------------------------------*/
@media screen and (max-width:540px) {
    section > div{
        padding-left: 0;
        margin: 0 auto;
    }

    section > div > h2{
        text-align: center;
        padding-left: 0;
        margin: 0 auto;
    }

}
