@charset "UTF-8";
@import url("reset.css");


/* 共用 --------------------------------------------- */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
    width: 100%;
}

.main-nav .anchor{
	margin-top: 13px;
}

/* 至底選單 ------------------------------------------ */

.menu_bottom{
	display: none;
}

@media screen and (max-width:800px){
	/* body{
		padding-bottom: 60px;
	} */
	footer .link{
		padding-bottom: 80px;
	}
	.menu_bottom{
		width: 100%;
		height: auto;
		display: flex;
		position: fixed;
		bottom: 0px;
		z-index: 7;
	}
	.menu_bottom nav.mb_nav{
		width: 100%;
	}
	.menu_bottom nav.mb_nav ul.mb_tag{
		width: 100%;
		display: flex;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li{
		width: calc(100% / 6);
		height: 60px;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		border-left: 3px solid #000;
		color: #262626;
		background-color: #fff;
		display: flex;
		justify-content: center;
	    align-items: center;
	    margin: 0 auto;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li a{
		display: inline-block;
		font-size: 14px;
		line-height: 19px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 3px;
		padding-left: 3px;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.border_right{
		border-right: 3px solid #000;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.tag_yellow{
		background-color: #fff7ba;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.m_active{
		background-color: #fc605b;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.m_active a{
		color: #fff;
		font-weight: 700;
	}	
}

/* kv ------------------------------------------------------------------------ */

article#main_kv-title{
	background-image: url('../images/main_title_bg1.svg');
	background-repeat: repeat;
	background-size: 50px;
	width: 100%;
	height: 270px;
	border-bottom: 3px solid #000;

	display: flex;
	align-items: center;
    justify-content: center;

	margin-top: 65px;	
    position: relative;
    overflow: hidden;
}
.kv-title_bg{
	width: 1200px;
	height: auto;
	text-align: center;
}
.kv-title_bg figure{
	margin: 0;
}

h1.seo-h1{
	background-image: url('../images/main_title_bg1a.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	color: #fc605b;
	font-size: 2.8rem;
    font-weight: 800;
    line-height: 7.4rem;
    letter-spacing: 1rem;
    text-indent: 1rem;

}

/* 消費立即折抵 ----------------------------------------------------------------- */

article#discount{
	width: 100%;
	background-color: #ffece6;
	border-bottom: 3px solid #000;	

	display: flex;
	justify-content: center;
}
.discount_content,.cardlink_content{
	width: 1200px;
	height: auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.title_a,.title_b{
	width: 40%;
	height: auto;
	margin: 0 auto;

}
.title_a h2.seo-h2,.title_b h2.seo-h2{
	width: 0;
	height: 0;
	scale: 0;	
}
.title_a img,.title_b img{
	width: 100%;
}
.content_a{
	width: 100%;
	height: auto;
	text-align: left;
	margin: 55px auto 35px;

	display: flex;
	justify-content: space-evenly;

}
.group_left{
	width: 40%;
	height: auto;
}
.group_left img{
	width: 100%;
}
.group_right{
	width: 40%;
}
.group_right h3.seo-h3{
	color: #000;
	font-size: 24px;
	font-weight: normal;
	line-height: 45px;
	letter-spacing: 1.5px;

	padding-top: 10px;
}
.group_right h3.seo-h3 strong{
	color: #fc605b;
	font-size: 50px;
	line-height: 80px;
	letter-spacing: 4px;
}
.group_right img{
	width: 90%;
	margin: 30px auto 10px;

}
.group_right .notice{
	color: #000;
	font-size: 15px;
	letter-spacing: 1px;
}

.btn_notice {
    width: 100%;
    max-width: 12.5rem;
    height: 4rem;
    border: 3px solid #000;
    border-radius: 40px;
    background: #00a19b;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-indent: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    cursor: pointer;
    transition: 0.3s;
}
.btn_notice:hover {
    color: #ffe033;
}

@media (max-width: 768px) {
    .btn {
        max-width: 8.75rem;
    }
}

.fancybox-content{
	max-width: 700px;
}
.popUp .title {
    color: #00a19b;	
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1.5px;

    }
.popUp .content {
	color: #000;	
    font-size: 0.9rem;
	line-height: 1.4rem;
	letter-spacing: 1px;
	text-align: justify;

	list-style: decimal;
    margin-top: 1rem;
    }
.popUp .content li{
	margin-left: 1.3rem;
}
.popUp .content li em{
	color: #fc605b;
	font-style: normal;
}

/* 綁卡消費攻略 ----------------------------------------------------------------- */

article#cardlink{
	width: 100%;
	background-color: #fff9e6;

	display: flex;
	justify-content: center;
}

.content_b{
	width: 100%;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.group_top{
	width: 100%;
	margin: 55px auto;

	display: flex;
	justify-content: space-evenly;	
}

.group_top section{
	width: 35%;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 20px;
	padding-bottom: 35px;

	display: flex;
    flex-direction: column;
    align-items: center;
}

.card_top{
	width: 80%;
	margin: 35px auto 20px;
}

.card_top img{
	width: 80%;
	margin-bottom: 32px;
}
.card_top img.kumacard{
	margin-bottom: 3.5px;
}

.card_top h3.cardname-h3{
	color: #663000;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 2px;
	text-indent: 2px;
	background-color: #ffe099;
	border-radius: 55px 55px 0 0;
    padding: 10px 0;
}

.group_top section p,.group_bottom section p{
	color: #000;
	font-size: 20px;
    line-height: 32px;
    padding: 0 25px;
    letter-spacing: 1px;
    text-indent: 1px;
    margin-bottom: 15px;
}

.group_top section p em{
	color: #fc605b;
	font-style: normal;

}

ul.card_notice{
	color: #262626;
	text-align: justify;
    padding: 0 40px;
    margin-bottom: 25px;
}
ul.card_notice li{
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.8px;
    text-indent: -1.1em;
}
ul.card_notice li::before{
	content: "※";
}

.group_bottom{
	width: 100%;

	display: flex;
	justify-content: center;
}
.group_bottom section{
	width: 80%;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 15px;
	padding-bottom: 35px;

	display: flex;
    flex-direction: column;
    align-items: center;
}
.group_bottom section p{
	margin-bottom: 25px;
}
.card_top2{
	width: 35%;
}
.card_top2 h3.cardname-h3{
	background-color: transparent;
}


/* 1280px -------------------------------------------------------------------- */
@media screen and (max-width:1280px){
	.kv-title_bg{
		width: 90%;
	}
	.discount_content, .cardlink_content{
		width: 90%;
	}
	.group_right{
		width: 50%;
	}
	.group_right h3.seo-h3{
		font-size: 22px;
		line-height: 38px;
		padding-top: 0;
	}
	.group_right h3.seo-h3 strong{
		font-size: 46px;
		line-height: 70px;
	}
	.group_right img{
		width: 84%;
		margin: 20px auto 10px;
	}
	.group_right .notice{
		font-size: 14px;
		line-height: 20px;
	}
	.group_left{
		width: 38%;
	}
	.group_top section{
		width: 42%;
	}
	.group_bottom section{
		width: 89%;
	}
}

/* 1050px -------------------------------------------------------------------- */
@media screen and (max-width:1050px){
	.discount_content, .cardlink_content{
		margin-top: 80px;
    	margin-bottom: 80px;
	}
	.title_a, .title_b{
		width: 44%;
	}
	.group_right h3.seo-h3{
		font-size: 20px;
		line-height: 33px;
	}
	.group_right h3.seo-h3 strong{
		font-size: 44px;
		line-height: 70px;
	}
	.group_top{
		margin: 46px auto;
	}
	.card_top{
		width: 85%;
		margin: 30px auto 15px;
	}
	.card_top img{
		margin-bottom: 28px;
	}
	.card_top h3.cardname-h3{
		font-size: 24px;
	}
	.group_top section{
		padding-bottom: 30px;
	}
	.group_top section p, .group_bottom section p{
		font-size: 18px;
		line-height: 28px;
	}
	ul.card_notice li{
		font-size: 13px;
    	line-height: 19px;
	}
	.btn_notice{
		max-width: 11rem;
		font-size: 20px;
	}

}
/* 890px -------------------------------------------------------------------- */
@media screen and (max-width:890px){
	.content_a{
		margin: 35px auto;
		text-align: center;

		flex-wrap: wrap;
    	justify-content: center;
	}
	.title_a, .title_b{
		width: 55%;
	}
	.group_left{
		width: 65%;
	}
	.group_right{
		width: 65%;
		margin-top: 22px;
	}
	.group_right h3.seo-h3{
		text-align: center;
	}
	.group_right h3.seo-h3 strong{
		font-size: 48px;
		line-height: 75px;
	}
	.group_top section{
		width: 45%;
	}
	.group_bottom section{
		width: 94%;
	}
}
/* 768px -------------------------------------------------------------------- */
@media screen and (max-width:768px){
	.title_a, .title_b{
		width: 72%;
	}
	.group_left{
		width: 76%;
	}
	.content_a{
		margin: 28px auto;
	}
	.group_right{
		width: 100%;
	}
	.group_top{
		margin: 28px auto;

		justify-content: center;
    	flex-wrap: wrap;
	}
	.group_top section{
		width: 76%;
	}
	#card_traveler{
		margin-top: 28px;
	}
	.group_bottom section{
		width: 76%;
	}
	.btn_notice{
		height: 3.6rem;
	}
}
/* 540px -------------------------------------------------------------------- */
@media screen and (max-width:540px){
	.title_a, .title_b{
		width: 90%;
	}
	.group_left{
		width: 82%;
	}
	.group_right h3.seo-h3 strong{
		font-size: 45px;
		line-height: 65px;
	}
	.group_right .notice{
		padding: 0 40px;
	}
	.group_top section,.group_bottom section{
		width: 90%;
	}
}
/* 430px -------------------------------------------------------------------- */
@media screen and (max-width:430px){
	article#main_kv-title{
		height: 210px;
	}
	h1.seo-h1{
		font-size: 2.4rem;
		line-height: 6.6rem;
	}
	.group_right h3.seo-h3 .br{
		display: block;
	}
	.group_right h3.seo-h3 strong{
		display: block;
		font-size: 56px;
    	line-height: 70px;
    	margin: 10px auto 5px;
	}
	.group_right img{
		width: 94%;
	}
	.group_top section, .group_bottom section{
		width: 92%;
	}
}







/* 動畫 -------------------------------------------------------------------- */

.heartbeat {
	-webkit-animation: heartbeat 2s ease-in-out 5 both;
	        animation: heartbeat 2s ease-in-out 5 both;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-10-6 13:14:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



