@import url("reset.css");

*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: Arial,"Microsoft JhengHei","Heiti TC","sans-serif";
}

img{
    display: block;
}

html,body{
    width: 100%;
}


/*--header------------------------------------------------------------*/
header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    z-index: 99;
}

header > nav{
    width: 95%;
    height: 60px;
    height: 100%;
    margin: 0 auto;
}

header > nav > a > img{
    display: inline-block;
    height: 30px;
    width: auto;
    margin: 18px 0;
    float: left;
}

header > nav > div {
    float: right;
}

header > nav > div > a{
    display: block;
    line-height: 65px;
    font-size: 14px;
    float: left;
    color: #595959;
    letter-spacing: 0.3px;
    font-weight: bold;
    padding: 0 0 0 30px;
}

header > nav > div > a:hover{
    color: #262626;
}


.page{
    color: #00a19b;
}


/*--footer------------------------------------------------------------*/
footer{
    width: 100%;
    bottom: 0;
    height: auto;
    overflow: hidden;
    background-color: #4d4d4d;
}

.warning{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color:#fff;
}

.warning > div{
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}


.warning > div > div.left_box{
    width: 25%;
    float: left;
}

.warning > div > div.right_box{
    width: 75%;
    float: right;
}

.warning > div > div.left_box > p{
    font-size: 24px;
    letter-spacing: 3px;
    color: #595959;
    line-height: 50px;
}

.warning > div > div.right_box > p{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: justify;
    color: #595959;
}

footer > ul{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

footer > ul > li{
    display: inline-block;
    font-size: 13px;
    color: #fff;
    line-height: 50px;
    padding: 0 2px;
}

footer > ul > li > a{
    color: #fff;
    text-decoration: none;
}


/*--PC------------------------------------------------------------*/
@media screen and (max-width:1350px) {
    header > nav{
        width: 95%;
    }

    footer > ul{
        width: 95%;
    }

    .warning > div{
        width: 90%;
    }

    .warning > div > div.left_box > p{
        line-height: 80px;
    }
}


@media screen and (max-width:1024px) {
    .warning > div > div.left_box{
        width: 100%;
        float: none;
        text-align: center;
    }
    .warning > div > div.right_box{
        width: 100%;
        float: none;
    }
    .warning > div > div.left_box p{
        line-height: 25px;
        padding-bottom: 10px;
    }
}

/*--Pad------------------------------------------------------------*/
@media screen and (max-width:920px) {   

    
}


/*--iPad-----------------------------------------------------------*/
@media screen and (max-width:768px) {
    .warning > div{
        clear: both;
        float: none;
    }

}

/*--Mobile-----------------------------------------------------------*/
@media screen and (max-width:540px) {
    header > nav {
        width: 100%;
    }

    header > nav > a > img{
        margin-left: 4%;
    }

    header > nav > div {
        background-color: #fff;
        clear: both;
        text-align: center;
        width: 100%;
    }

    header > nav > div > a{
        font-size: 10px;
        padding: 0;
        width: 25%;
        bottom: 0;
        line-height: 55px;
        border-top: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
    }

    header > nav > div > a > span{
        display: none;
    }

    header > nav > div > a:nth-child(1){
        border-left: 0px solid;
    }

}

/*--Mobile se------------------------------------------------------------*/
@media screen and (max-width: 375px) {
    footer > ul > li{
        line-height: 25px;
    }
}

