@import url("reset.css");

*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: Arial,"Microsoft JhengHei","Heiti TC","sans-serif";
}

img{
    display: block;
}

html,body{
    width: 100%;
}


/*--header------------------------------------------------------------*/
header{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    z-index: 99;
}

header > nav{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header > nav > a > img{
    display: inline-block;
    height: 30px;
    width: auto;
    margin: 15px 0;
    float: left;
}

header > nav > div {
    float: right;
}

header > nav > div > a{
    display: block;
    line-height: 65px;
    font-size: 15px;
    float: left;
    color: #262626;
    font-weight: bold;
    padding: 0 0 0 20px;
}

header > nav > div > a:hover{
    color: #00a19b;
}

a#menu{
    display: none;
}


/*--footer------------------------------------------------------------*/
footer{
    width: 100%;
    bottom: 0;
    height: auto;
    overflow: hidden;
    background-color: #4d4d4d;
}

.warning{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color:#fff;
}

.warning > div{
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}


.warning > div > div.left_box{
    width: 25%;
    float: left;
}

.warning > div > div.right_box{
    width: 75%;
    float: right;
}

.warning > div > div.left_box > p{
    font-size: 24px;
    letter-spacing: 2px;
    color: #595959;
    line-height: 50px;
    margin-bottom: 0rem;
}

.warning > div > div.right_box > p{
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    color: #595959;
    margin-bottom: 0rem;
}

footer > ul{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

footer > ul > li{
    display: inline-block;
    font-size: 13px;
    color: #fff;
    line-height: 50px;
    padding: 0 2px;
}

footer > ul > li > a{
    color: #fff;
    text-decoration: none;
}


/*--PC------------------------------------------------------------*/
@media screen and (max-width:1200px) {
    header > nav, footer > ul{
        width: 95%;
    }

    .warning > div{
        width: 90%;
    }

    .warning > div > div.left_box > p{
        line-height: 80px;
    }
}


@media screen and (max-width:1024px) {
    .warning > div > div.left_box{
        width: 100%;
        float: none;
        text-align: center;
    }
    .warning > div > div.right_box{
        width: 100%;
        float: none;
    }
    .warning > div > div.left_box p{
        line-height: 25px;
        padding-bottom: 10px;
    }
}

/*--Pad------------------------------------------------------------*/
@media screen and (max-width:920px) {   
    
    
}


/*--iPad-----------------------------------------------------------*/
@media screen and (max-width:768px) {
    a#menu{
        position: absolute;
        top: 0;
        right: 2%;
        display: block;
        width: 50px;
        height: 65px;
        background-image: url("../img/menu.svg");
        background-position: 50% 50%;
        background-size: 95% auto;
        background-repeat: no-repeat;
    }

    header{
        transition: height .2s;
        height: 65px;
        overflow: hidden;
    }

    header.openMenu{
        height: 320px;

    }

    header > nav {
        width: 90%;
        height: 100px;

    }

    header > nav > div {
        clear: both;
        width: 100%;
        height: 320px;
    }

    header > nav > div > a{
        width: 100%;
        height: auto;
        overflow: hidden;
        line-height: 65px;
        text-align: center;
        padding: 0 0 0 0;
        border-bottom: 1px solid #efefef;
    }

    .warning > div{
        clear: both;
        float: none;
    }

    .warning > div > div.left_box p{
        padding-top: 10px;
    }
}

/*--Mobile-----------------------------------------------------------*/
@media screen and (max-width:540px) {
    footer{
        position: relative;
    }
}

/*--Mobile se------------------------------------------------------------*/
@media screen and (max-width: 375px) {

    footer > ul > li{
        line-height: 25px;
    }
}

