@charset "UTF-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap');


/* 共用 --------------------------------------------- */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
    width: 100%;
}

.main-nav .anchor{
	margin-top: 13px;
}

/* 錨點 */
:root {
  scroll-padding-top: 4rem;
}

/* 至底選單 ------------------------------------------ */

.menu_bottom{
	display: none;
}

@media screen and (max-width:800px){
	/* body{
		padding-bottom: 60px;
	} */
	footer .link{
		padding-bottom: 80px;
	}
	.menu_bottom{
		width: 100%;
		height: auto;
		display: flex;
		position: fixed;
		bottom: 0px;
		z-index: 7;
	}
	.menu_bottom nav.mb_nav{
		width: 100%;
	}
	.menu_bottom nav.mb_nav ul.mb_tag{
		width: 100%;
		display: flex;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li{
		width: calc(100% / 6);
		height: 60px;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		border-left: 3px solid #000;
		color: #262626;
		background-color: #fff;
		display: flex;
		justify-content: center;
	    align-items: center;
	    margin: 0 auto;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li a{
		display: inline-block;
		font-size: 14px;
		line-height: 19px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 3px;
		padding-left: 3px;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.border_right{
		border-right: 3px solid #000;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.tag_yellow{
		background-color: #fff7ba;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.m_active{
		background-color: #fc605b;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.m_active a{
		color: #fff;
		font-weight: 700;
	}	
}

/* kv ------------------------------------------------------------------------ */

article#main_kv-title{
	background-image: url('../images/main_title_bg2.svg');
	background-repeat: repeat;
	background-size: 50px;
	width: 100%;
	height: 270px;
	border-bottom: 3px solid #000;

	display: flex;
	align-items: center;
    justify-content: center;

	margin-top: 65px;	
    position: relative;
    overflow: hidden;
}
.kv-title_bg{
	width: 1200px;
	height: auto;
	text-align: center;
}
.kv-title_bg figure{
	margin: 0;
}

h1.seo-h1{
	background-image: url('../images/main_title_bg2a.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	color: #ffb217;
	font-size: 2.8rem;
    font-weight: 800;
    line-height: 7.4rem;
    letter-spacing: 1rem;
    text-indent: 1rem;

}

/* 玉山Wallet支援全日本 PayPay QR Code商店掃碼付款 ----------------------------------------------------------------- */

article#paypay_store{
	width: 100%;
	background-color: #ffe369;
	/* border-bottom: 3px solid #000; */	

	display: flex;
	justify-content: center;
}
.store_content{
	width: 1200px;
	height: auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 60px;
}
.title_set{
	width: 100%;
	margin: 0 0 20px 0;

	display: flex;
	justify-content: center;
}
.title_left{
	width: 42%;
	height: auto;
	margin-left: 25px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title_left img{
	width: 35%;
	margin-bottom: 25px;
}
.title_left h2.seo-h2{
	color: #663000;
	font-size: 40px;
	line-height: 58px;
	letter-spacing: 2px;
	text-align: left;
}
.title_right{
	width: 42%;
	height: auto;
}
.title_right img{
	width: 100%;
}
.store_notice{
	color: #262626;
	text-align: justify;
    width: 79%;
    margin: 0 auto;
}
.store_notice li{
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.8px;
    text-indent: -1.1em;
}
.store_notice li::before{
	content: "※";
}
.payment_methods{
	width: 100%;
	margin: 70px auto 0;

	display: flex;
    justify-content: center;		
}
.payment_pic{
	width: 30%;
	margin: 0 30px;
}
.payment_pic img{
	width: 100%;
}


/* 人氣景點・商店街 ----------------------------------------------------------------- */

article#store_shop{
	width: 100%;
	background-color: #fee369;

	display: flex;
	justify-content: center;
}
.shop_content{
	width: 1200px;
	height: auto;	
	text-align: center;
	margin-bottom: 80px;
}
.title_a{
	width: 40%;
	height: auto;
	margin: 20px auto 30px;
}
.title_a h2.seo-h2{
	width: 0;
	height: 0;
	scale: 0;	
}
.title_a img{
	width: 100%;
}
/* 景點列表標籤 */
.shop_list{
	width: 100%;
	height: auto;
}

.shop_list .shop_nav{
	width: 100%;
	height: auto;
	margin-bottom: 30px;	
}
.shop_list .shop_nav .shop_tag{
	width: 100%;
	height: auto;	

	display: flex;
	justify-content: center;
}
.shop_list .shop_nav .shop_tag li{
	margin: 0 5px;
}
.shop_list .shop_nav .shop_tag li a{
	background-color: #fff;
	border: 3px solid #663000;	
	border-radius: 8px;

	color: #663000;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 2px;
	text-indent: 2px;	
	padding: 6px 22px 8px;

	transition: 0.3s;
}
.shop_list .shop_nav .shop_tag li a:hover{
	background-color: #fc605b;	
	color: #fff;
}

/* 景點內容 */
.shop_group{
	width: 100%;

	display: flex;
    justify-content: center;
    flex-wrap: wrap;		
}
.shop_card{
	width: 28%;
	margin: 0 20px;
	padding-top: 30px;
}

.card_top{
	width: 100%;
	height: 128px;
	border-radius: 10px 10px 0 0 ;

	display: flex;
	justify-content: center;
	align-items: center;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	transition: 0.5s;
}

#tokyo .card_top{
	background-image: url('../images/store_shop_tokyo.png');
}
#osaka .card_top{
	background-image: url('../images/store_shop_osaka.png');
}
#hokkaido .card_top{
	background-image: url('../images/store_shop_hokkaido.png');
}
#kyushu .card_top{
	background-image: url('../images/store_shop_kyushu.png');
}
#okinawa .card_top{
	background-image: url('../images/store_shop_okinawa.png');
}
#kanto .card_top{
	background-image: url('../images/store_shop_kanto.png');
}
#kyoto .card_top{
	background-image: url('../images/store_shop_kyoto.png');
}
#hokuriku .card_top{
	background-image: url('../images/store_shop_hokuriku.png');
}
.shop_card:hover .card_top{
	background-size: 115%;
}

.card_top h3.seo-h3{
	color: #fff;
	font-size: 35px;
	letter-spacing: 8px;
	text-indent: 8px;
	text-shadow: 0.05em 0.05em #000;
}
.card_bottom{
	width: 100%;
	height: auto;	
	background-color: #fff;
	border-radius: 0 0 10px 10px;
}
.card_bottom.bh_1{
	height: 398px;
}
.card_bottom.bh_2{
	height: 465px;
}
.card_bottom .list{
	font-family: 'Noto Sans JP', sans-serif;
	padding: 18px 0 30px;	
}
.card_bottom .list li{
	color: #000;
	font-size: 14px;
	line-height: 20px;
    letter-spacing: 1.5px;
    text-align: left;

    border-bottom: 1px solid #e6e6e6;
    margin: 0px 45px;
    padding-top: 7px;
    padding-bottom: 7px;
}



/* 1280px -------------------------------------------------------------------- */
@media screen and (max-width:1280px){
	.kv-title_bg{
		width: 90%;
	}
	.store_content{
		width: 90%;
	}
	.title_left{
		width: 45%;
	}
	.title_left h2.seo-h2{
		font-size: 36px;
		line-height: 56px;
	}
	.store_notice{
		width: 81%;
	}
	.payment_pic{
		width: 35%;
	}
	.shop_card{
		margin: 0 10px;
	}
	.card_top{
		height: 112px;
	}
}
/* 1050px -------------------------------------------------------------------- */
@media screen and (max-width:1050px){
	.store_content{
		margin-top: 80px;
	}
	.title_left{
		width: 48%;
	}
	.title_left img{
		margin-bottom: 18px;
	}
	.title_left h2.seo-h2{
		font-size: 32px;
		line-height: 48px;
	}
	.store_notice{
		width: 83%;
	}
	.payment_methods{
		margin-top: 55px;
	}
	.payment_pic{
		width: 37%;
	}
	.title_a{
		width: 44%;
		margin: 20px auto;
	}
	.shop_list .shop_nav .shop_tag{
		width: 80%;
		margin: 0 auto;

		flex-wrap: wrap;
	}
	.shop_list .shop_nav .shop_tag li{
		margin-top: 15px;
	}
	.shop_group{
		width: 90%;
		margin: 0 auto;
	}
	.shop_card{
		width: 31%;
		margin: 0 8px;
	}
	.card_top{
		height: 97px;
	}
	.card_top h3.seo-h3{
		font-size: 32px;
	}
	.card_bottom .list li{
		margin: 0 28px;
	}
}
/* 890px -------------------------------------------------------------------- */
@media screen and (max-width:890px){
	.title_left{
		margin-left: 20px;
	}
	.title_left h2.seo-h2{
		font-size: 30px;
		line-height: 45px;
	}
	.title_a{
		width: 50%;
	}
	.payment_methods{
		margin-top: 45px;
	}
	.payment_pic{
		width: 40%;
	}
	.shop_card{
		width: 40%;
		margin: 0 20px;
	}
	.card_top{
		height: 108px;
	}
	.card_top h3.seo-h3{
		font-size: 35px;
	}
	.card_bottom.bh_1{
		height: auto;
	}
	.card_bottom.bh_2{
		height: auto;
	}
}
/* 768px -------------------------------------------------------------------- */
@media screen and (max-width:768px){
	.store_content{
		margin-bottom: 50px;
	}
	.title_set{
		flex-wrap: wrap;
	}
	.title_left{
		width: 100%;

		margin-left: 0;
		align-items: center;
    	flex-direction: column;
	}
	.title_left h2.seo-h2{
		font-size: 35px;
		line-height: 50px;
		text-align: center;
	}
	.title_left img{
		width: 30%;
		margin-bottom: 15px;
	}
	.title_right{
		width: 66%;
		margin-top: 25px;
	}
	.payment_pic{
		width: 45%;
		margin: 0 10px;
	}
	.title_a{
		width: 65%;
	}
	.shop_list .shop_nav .shop_tag{
		width: 90%;
	}
	.shop_list .shop_nav .shop_tag li{
		margin-top: 12px;
	}
	.shop_list .shop_nav .shop_tag li a{
		font-size: 16px;
	}
	.shop_card{
		width: 46%;
		margin: 0 6px;
	}
	.card_top{
		height: 97px;
	}
	.card_top h3.seo-h3{
		font-size: 30px;
	}

}
/* 540px -------------------------------------------------------------------- */
@media screen and (max-width:540px){
	.store_notice{
		width: 88%;
	}
	.payment_pic{
		width: 48%;
		margin: 0 5px;
	}
	.title_a{
		width: 80%;
	}
	.shop_list .shop_nav{
		margin-bottom: 35px;
	}
	.shop_list .shop_nav .shop_tag{
		width: 94%;
	}
	.shop_list .shop_nav .shop_tag li a{
		padding: 6px 18px 8px;
	}
	.shop_card{
		width: 48%;
		margin: 0 4px;
	}
	.card_top{
		height: 85px;
	}
	.card_bottom .list li{
		font-size: 13.5px;
		line-height: 16px;
		letter-spacing: 1px;
	}
}
/* 430px -------------------------------------------------------------------- */
@media screen and (max-width:430px){
	article#main_kv-title{
		height: 210px;
	}
	h1.seo-h1{
		font-size: 2.4rem;
    	line-height: 6.6rem;
	}
	.store_content{
		margin-bottom: 25px;
	}
	.shop_content{
		margin-bottom: 60px;
	}
	.title_left img{
		width: 45%;
	}
	.title_left h2.seo-h2{
		font-size: 30px;
		line-height: 45px;
	}
	.title_right{
		width: 90%;
	}
	.payment_methods{
		margin-top: 25px;

		flex-wrap: wrap;
	}
	.payment_pic{
		width: 75%;
		margin: 0 0 15px;
	}
	.title_a{
		width: 85%;
		margin: 12px auto;
	}
	.shop_list .shop_nav{
		margin-bottom: 10px;
	}
	.shop_list .shop_nav .shop_tag li{
		margin: 6px 3px 0;
	}
	.shop_list .shop_nav .shop_tag li a{
		font-size: 14px;
		padding: 4px 9px 6px;

		font-weight: 700;
	}
	.shop_card{
		width: 90%;
		padding-top: 35px;
	}
	.card_top{
		height: 110px;
	}
	.card_top h3.seo-h3{
		font-size: 36px;
	}
	.card_bottom .list{
		padding: 10px 0 20px;
	}
	.card_bottom .list li{
		margin: 0 40px;
	}

}
