@import url("reset.css");

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Arial,"Microsoft JhengHei","Heiti TC","sans-serif";
}

body{
    background-color: #fff8f0;
}

img{
    display: block;
}

h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: #846543;
}

h3{
    font-weight: normal;
    padding-top: 10px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #2c3f42;
}

h4{
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: #2c3f42;
}

p{
    letter-spacing: 0.5px;
    line-height: 26px;
}

li{
    letter-spacing: 0.2px;
}

time{
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    color: #595959;
}

strong{
    font-weight: normal;
}

.red{
    color: #fc746f;
    font-weight: bold;
}

.rednote{
    color: #fc746f;
}

.btn{
    display: inline-block;
    text-align: center;
    width: 180px;
    color: #fff;
    border: 1px solid #1cada4;
    background-color: #1cada4;
    border-radius: 4px;
    padding: 15px 0px;
    font-size: 14px;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: #00a19b;
}

.btn_line{
    display: inline-block;
    text-align: center;
    width: 180px;
    color: #1cada4;
    border: 1px solid #1cada4;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 14px;
    letter-spacing: 1px;
}

.btn_line:hover{
    color: #00a19b;
    border: 1px solid #00a19b;
}

main{
    width: 100%;
    margin: 50px auto;
    height: auto;
    overflow: hidden;
}

section{
    width: 100%;
    margin: 50px auto;
    height: auto;
    overflow: hidden;
}

/*--content------------------------------------------------------------*/

.content{
    max-width: 1000px;
    margin: 10px auto;
    padding: 50px;
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: 0 0 5px rgb(214, 172, 135, 0.7);
    border-radius: 30px;
}

.content > .cont_box{
    padding: 20px;
    margin: 30px auto;
    border: solid 1px rgb(248, 233, 220);
    box-shadow: 0 0 3px rgb(248, 233, 220, 0.7);
    border-radius: 10px
}

.content > .cont_img > img{
    border-radius: 15px;
}

.content > .cont_btn{
    margin: 30px auto 30px auto;
}

.note, .note_s{
    padding: 30px 0 10px 0;
    color: #595959;
}

.note li{
    font-size: 14px;
    list-style: disc;
    margin-left: 1.3em;
    line-height: 25px;
}

.note_s li{
    font-size: 12px;
    list-style: circle;
    margin-left: 1.3em;
    line-height: 25px;
}

/*--popup-----------------------------------------------------------*/
.popUp p {
    font-size: 1rem;
    font-weight: bold;
    color: #00a19b;
}

.popUp > div{
    margin: 20px 0 0 0;
}

.popUp > div >  ol{
    list-style: decimal;
    text-align: justify;
    font-size: 14px;
    margin: 1em 0 0 1.3em;
    line-height: 25px;
}
                                        
/*--PC------------------------------------------------------------*/
@media screen and (max-width:1200px) {
    
}

/*--iPad pro------------------------------------------------------------*/
@media screen and (max-width:1024px) {
    .content{
        width: 95%;   
    }
}

/*--Pad------------------------------------------------------------*/
@media screen and (max-width:920px) {
    .content{
        padding: 40px 30px;
        border-radius: 20px;
    }
    .cont_btn > a{
        width: 150px;
        margin: 0 0px 5px 0;
    }
}

/*--iPad-----------------------------------------------------------*/
@media screen and (max-width:768px) {
    
}

/*--Mobile-----------------------------------------------------------*/
@media screen and (max-width:540px) {
    h2{
        font-size: 26px;
    }
    
    h3{
        font-size: 16px;
        line-height: 26px;
    }
    
    p{
        font-size: 14px;
        line-height: 22px;
    }
}

