@charset "UTF-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap');


/* 共用 --------------------------------------------- */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
    width: 100%;
}
body > body > .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-3xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
	font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-3xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;		
}
*+.uk-h1, *+.uk-h2, *+.uk-h3, *+.uk-h4, *+.uk-h5, *+.uk-h6, *+.uk-heading-2xlarge, *+.uk-heading-3xlarge, *+.uk-heading-large, *+.uk-heading-medium, *+.uk-heading-small, *+.uk-heading-xlarge, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6{
	margin: 0;
	padding: 0;	
}
address, dl, fieldset, figure, ol, p, pre, ul{
	margin: 0;
	padding: 0;	
}

.main-nav .anchor{
	margin-top: 13px;
}

/* 至底選單 ------------------------------------------ */

.menu_bottom{
	display: none;
}

@media screen and (max-width:800px){
	/* body{
		padding-bottom: 60px;
	} */
	footer .link{
		padding-bottom: 80px;
	}
	.menu_bottom{
		position: fixed;
		width: 100%;
		height: auto;
		display: flex;
		overflow: hidden;
		bottom: 0px;
		z-index: 7;
	}
	.menu_bottom nav.mb_nav{
		width: 100%;
	}
	.menu_bottom nav.mb_nav ul.mb_tag{
		width: 100%;
		display: flex;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li{
		width: calc(100% / 6);
		height: 60px;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		border-left: 3px solid #000;
		color: #262626;
		background-color: #fff;
		display: flex;
		justify-content: center;
	    align-items: center;
	    margin: 0 auto;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li a{
		display: inline-block;
		font-size: 14px;
		line-height: 19px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 3px;
		padding-left: 3px;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.border_right{
		border-right: 3px solid #000;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.tag_yellow{
		background-color: #fff7ba;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.m_active{
		background-color: #fc605b;
	}
	.menu_bottom nav.mb_nav ul.mb_tag li.m_active a{
		color: #fff;
		font-weight: 700;
	}	
}

/* kv ------------------------------------------------------------------------ */

article#main_kv-title{
	background-image: url('../images/main_title_bg3.svg');
	background-repeat: repeat;
	background-size: 50px;
	width: 100%;
	height: 270px;
	border-bottom: 3px solid #000;

	display: flex;
	align-items: center;
    justify-content: center;

	margin-top: 65px;	
    position: relative;
    overflow: hidden;
}
.kv-title_bg{
	width: 1200px;
	height: auto;
	text-align: center;
}
.kv-title_bg figure{
	margin: 0;
}

h1.seo-h1{
	background-image: url('../images/main_title_bg3a.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	color: #37bfbf;
	font-size: 2.8rem;
    font-weight: 800;
    line-height: 7.4rem;
    letter-spacing: 1rem;
    text-indent: 1rem;

}

/* 使用教學 ----------------------------------------------------------------- */

article#wallet_tutorial{
	width: 100%;
	background-color: #d8eded ;
	overflow: hidden;
	position: relative;

	display: flex;
	justify-content: center;

	height: auto;
	z-index: 0;	
}

.tutorial_content{
	width: 1200px;
	height: auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 60px;

	display: flex;
    flex-direction: column;
    align-items: center;
}

.wallet_tutorial_bg{
	background-image:url('../images/tutorial_bg.svg') ;
	background-repeat: repeat;
	background-size: 50px;
	background-position: center bottom;	
	width: 100%;
	height: 488px;	

	position: absolute;	
	bottom: 0;

	z-index: -1;
}


.remind{
	width: 100%;
	margin: 0 auto 60px;
}
.remind img{
	width: 18%;
}
.remind .remind_word{
	color: #000;
	font-size: 16px;
	letter-spacing: 2px;
	text-indent: 2px;	
	margin: 15px auto;	
}


/* DS - Tab頁籤 ----------------------------------------------------------------- */

.tab {
	width: 100%;
	max-width: 1100px;
}
.tab .uk-switcher {
	/* background: #fff; */
	border-radius: 10px;
	padding: 20px 0;
}

.uk-tab {
	width: 100%;
}
.uk-tab > li {
	display: inline-block !important;
	padding-left: 0;
	position: relative;


}
.uk-tab > li a {
	font-size: 18px;
}
.uk-tab > .uk-active::after {
	content: "";
	width: 100%;
	height: 4px;
	background: red;
	border-radius: 10px;
	display: block;
	position: absolute;
	bottom: -4px;
	right: 0;
}
.uk-tab > .uk-active > a {
	color: #00a19b;
	font-weight: bold;
	padding-bottom: 16px;
	border: 0;
}
.uk-tab > .uk-active > a > span.br{
	display: none;
}
.tab-block > .uk-tab > li > a > span.br{
	display: none;	
}
.uk-tab::before {
	display: none;
}


.tab-block {
overflow-x: scroll;
}
.tab-block .uk-switcher {
margin-top: 30px !important;
}
.tab-block > .uk-tab {
margin: 0 auto;
overflow: scroll;
-ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
max-width: 100%;
}

@media (min-width: 1200px) {
	.tab-block > .uk-tab {
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	}
}

.tab-block > .uk-tab::after {
	display: none;
}
.tab-block > .uk-tab > li {
	width: 230px;
	margin: 0 6px;
}
.tab-block > .uk-tab > li > a {
	background-color: #fff;	
	border: 3px solid #000;
	border-radius: 8px;

	color: #000;
	font-size: 18px;
	font-weight: 600;
	line-height: 34px;
	letter-spacing: 2px;
	text-indent: 2px;	
	padding: 6px 22px 8px;	
}
.tab-block > .uk-tab > .uk-active::after {
	position: static;
	width: 0;
	height: 0;
	border-width: 8px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
	border-radius: 0;
	margin: 0 auto;
	background: transparent;
}
.tab-block > .uk-tab > .uk-active > a {
	background: #47bfbf;
	color: #fff;
}


.step_all{
	width: 100%;
	height: auto;

	display: flex;
	/* flex-wrap: wrap; */
}
.step_set{
	width: 30%;
	margin: 0 auto 80px;

	display: flex;
    flex-direction: column;
    align-items: center;	
}
.step_set .top{
	width: 100%;
	height: 120px;
	margin-bottom: 15px;
}
.step_set .top .step_number{
	color: #1db0b0;
	font-size: 20px;
    letter-spacing: 1px;
    font-weight: 800;
}
.step_set .top h4.step_txt{
	color: #000;
	font-size: 18px;
	line-height: 28px;
    letter-spacing: 1px;	
    margin-top: 15px;
}
.step_set .top h4.step_txt span{
	color: #000;
	font-size: 14px;	
}
.step_set .top h4.step_txt span.br{
	display: block;	
}
.step_set .phone_pic{
	width: 75%;

	position: relative;
}
.step_set .phone_pic img{
	width: 100%;
}

.step_set .phone_pic .paypay_sound{
	background-image: url('../images/paypay_sound.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 50%;
	height: 42px;

	position: absolute;
    top: 40px;
    left: 176px;
}



/* swipe套件 */
	.swiper-container {
		width: 100%;
		height: 760px;
		overflow: hidden;
		position: relative;
	}
	.swiper-slide{
		display: flex;
	    justify-content: center;
	    align-items: center;	
	}	
	.swiper-button-next, .swiper-button-prev {
		color: #00a19b;
	}
	.swiper-button-next{
		margin-right: -10px;
	}
	.swiper-button-prev{
		margin-left: -10px;
	}
	.swiper-pagination {
		position: absolute;
		bottom: 20px !important;
		left: 50% !important;
		-webkit-transform: translateX(-50%) !important;
		      transform: translateX(-50%) !important;
	}
	.swiper-pagination span {
		display: inline-block;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border: 1px solid #d9d9d9;
		margin: 0 5px;
		background: #ffffff;
		opacity: 1;
	}
	.swiper-pagination .swiper-pagination-bullet-active {
		background: #00a19b;
		border: 1px solid #00a19b;
	}


/* 1280px -------------------------------------------------------------------- */
@media screen and (max-width:1280px){
	.kv-title_bg{
		width: 90%;
	}
	.tutorial_content{
		width: 90%;
	}
	.remind img{
		width: 20%;
	}
	.tab-block > .uk-tab{
		justify-content: center;
	}
	.swiper-container{
		height: 720px;
	}
	.step_set{
		width: 31%;
	}
}
/* 1050px -------------------------------------------------------------------- */
@media screen and (max-width:1050px){
	.tutorial_content{
		margin-top: 80px;
	}
	.remind{
		margin-bottom: 40px;
	}
	.remind img{
		width: 23%;
	}
	.swiper-container{
		height: 660px;
	}	
	.step_set{
		width: 33%;
	}
	.step_set .top h4.step_txt{
		font-size: 17px;
	}
	.step_set .phone_pic .paypay_sound{
		top: 34px;
    	left: 125px;
	}
}
/* 890px -------------------------------------------------------------------- */
@media screen and (max-width:890px){
	.remind img{
		width: 26%;
	}
	.remind .remind_word{
		font-size: 18px;
	}
	.step_set{
		width: 44%;
		margin: 0 0 55px;
	}
	.step_set .top{
		height: 115px;
	}
	.step_set .top.top_3{
		height: 122px;
	}
	.step_set .phone_pic{
		width: 65%;
	}
	.step_set .phone_pic .paypay_sound{
		top: 44px;
		left: 145px;
	}
}
/* 768px -------------------------------------------------------------------- */
@media screen and (max-width:768px){
	.remind img{
		width: 36%;
	}
	.remind .remind_word{
		width: 75%;
		line-height: 28px;
	}
	.tab-block > .uk-tab > li{
		width: 210px;
	}
	.tab-block > .uk-tab > li > a{
		padding: 6px 14px 8px;
	}
	.step_set{
		width: 48%;
	}
	.step_set .top h4.step_txt{
		font-size: 16px;
	}
	.step_set .phone_pic{
		width: 70%;
	}
	.step_set .phone_pic .paypay_sound{
		height: 36px;
		top: 34px;
    	left: 150px;
	}
}
/* 540px -------------------------------------------------------------------- */
@media screen and (max-width:540px){
	.remind img{
		width: 40%;
	}
	.step_set .top h4.step_txt{
		font-size: 18px;
	}
	.step_set .top h4.step_txt span{
		font-size: 13px;
	}
	.swiper-container{
		height: 740px;
	}
	.step_set .phone_pic{
		width: 58%;
	}
	.step_set .phone_pic .paypay_sound{
		height: 32px;
    	top: 37px;
    	left: 140px;
	}
}
/* 430px -------------------------------------------------------------------- */
@media screen and (max-width:430px){
	article#main_kv-title{
		height: 210px;
	}
	h1.seo-h1 {
    	font-size: 2.4rem;
    	line-height: 6.6rem;
	}
	.remind img{
		width: 55%;
	}
	.remind .remind_word{
		font-size: 19px;
		line-height: 29px;
	}

	.tab-block > .uk-tab > li{
		width: 160px;
	}
	.tab-block > .uk-tab > li > a{
		font-size: 16px;
		line-height: 24px;
	}
	.uk-tab > * > a{
		flex-direction: column;		
	}
	.uk-tab > .uk-active > a > span.br{
		display: block;
	}
	.swiper-container{
		height: 660px;
	}
	.step_set{
		width: 80%;
	}
	.step_set .top.top_3{
		height: auto;
	}
	.step_set .phone_pic{
		width: 64%;
	}

	.step_all{
		flex-wrap: nowrap;
		justify-content: normal;
	}
	.step_set .top h4.step_txt span.br{
		display: block;
	}
	.step_set .phone_pic .paypay_sound{
		height: 36px;
    	top: 40px;
    	left: 145px;
	}

	.tab-block > .uk-tab > li > a > span.br{
		display: block;
	}
}

/* 動畫 -------------------------------------------------------------------- */

.heartbeat {
	-webkit-animation: heartbeat 2s ease-in-out 3 both;
	        animation: heartbeat 2s ease-in-out 3 both;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-10-6 13:14:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}







/* paypay音效圖 */
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
	        animation: pulsate-fwd 2s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-12 16:49:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

